.dignity {
   margin-top: rem(64px);

   &__list {
      display: flex;
   }
}

.dignity__item {
   display: flex;
   align-items: center;

   &-text {
      margin-left: rem(14px);
      width: 30%;
      font-weight: 700;
      font-size: rem(16px);
   }
}