.dignity {

   &__icon {
      width: rem(35px);
      height: rem(35px);
   }

   @include tablets {
      display: none;
   }
   
   margin-top: rem(64px);

   &__list {
      display: flex;
   }
}

.dignity__item {
   display: flex;
   align-items: center;

   &-text {
      margin-left: rem(14px);
      width: 30%;
      font-weight: 700;
      font-size: rem(16px);
   }
}
