.header {

   @include tablets {
      background-color: #1968B1;
   }
}

.logo-img{
   width: rem(50px);
   height: rem(35px);
   fill: #345;
}


.header__content {
   padding-top: rem(28px);
   display: flex;
   justify-content: space-between;
   align-items: center;

   @include tablets {
      padding: rem(26px) rem(0px);
   }
}

.navigation {

   @include tablets {
      display: none;
   }


   &__list {
      display: flex;
   }

   &__item {
      align-items: center;
      margin-left: rem(20px);
      font-weight: 700;

      &:first-child {
         margin-left: rem(0px);
      }
   }

}

.contacts {
   font-style: normal;
   font-weight: 700;
   font-size: rem(22px);

   &::before {
      content: "";
      position: absolute;
      width: rem(13px);
      height: rem(14px);
      margin-top: rem(6px);
      margin-left: rem(-20px);
      
      background-image: url(./../img/svg/phone.svg);
      
      @include tablets {
         display: none;
      }
   }
}

.header__contacts-number {
   @include tablets {
      display: none;
   }
}