.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navigation {


   &__list {
      display: flex;
   }

   &__item {
      align-items: center;
      margin-left: rem(20px);
      font-weight: 700;

      &:first-child {
         margin-left: rem(0px);
      }
   }

}

.contacts {
   font-style: normal;
   font-weight: 700;
   font-size: rem(22px);

   &::before {
      content: "";
      position: absolute;
      width: rem(13px);
      height: rem(14px);
      margin-top: rem(6px);
      margin-left: rem(-20px);
      background-image: url(./../img/phone.png);
   }
}