.hello {
display: flex;
align-items: center;


   &__title {
      
      font-weight: 700;
      font-size: rem(48px);
      text-transform: uppercase;
      font-weight: 700;
      width: 38%;

      &-board {
         margin-top: rem(18px);
         font-weight: 400;
         font-size: rem(21px);
      }
   }
}

.button {
   margin-top: rem(39px);
   padding: rem(21px) rem(41px);
   background: #FEDB3F;
   border-radius: rem(100px);
   font-weight: 800;
   font-size: rem(16px);
   text-transform: uppercase;
}