.order {

   background: url(../img/back_sur.jpg);
   background-repeat: no-repeat;
   background-size: 1100px 702px;

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   &__title {
      padding-top: 63px;
      font-weight: 700;
      font-size: 48px;
      text-transform: uppercase;
   }
}