.reviews {
   display: flex;
   align-items: center;

   &__container {
      display: flex;
      
      align-items: center;

      &-content {
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   &__title {
      font-weight: 700;
      font-size: rem(48px);
      text-transform: uppercase;
      color: #292929;
   }

   &__content {
      margin-top: rem(74px);
      display: flex;
      justify-content: space-between;
      padding: rem(42px) rem(142px) rem(42px) rem(42px);

      @include tablets {
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: rem(56px) rem(24px) rem(46px);

         &-info {
            display: flex;
            flex-direction: column;
            align-items: center;
         }

         &-foto {
            width: 130px;
            height: 130px;
         }

         &-text {
            text-align: center;
         }


      }

      &-info {
         padding: rem(28px) rem(0px) rem(0px) rem(40px);
      }

      &-title {
         font-weight: 700;
         font-size: rem(27px);
         color: #292929;
      }

      &-text {
         margin-top: rem(14px);
         font-weight: 400;
         color: #666;
         line-height: rem(22px);
      }

      &-name {
         margin-top: rem(25px);
         font-weight: 500;
         color: #292929;
      }
   }

   &__list {
      margin-top: rem(15px);
      margin-bottom: rem(63px);
      display: flex;
   }

   &__item {
      margin-right: rem(6px);

      &:last-child {
         margin-right: rem(0px);
      }
   }



}