.why {

   &__container {
      display: flex;
      align-items: center;
      

   }


   &__title-content {
      display: flex;
      flex-direction: column;
      align-items: center;

   }

   &__title {
      font-weight: 700;
      font-size: rem(48px);
      text-transform: uppercase;
      color: black;

      @include phone {
         text-align: center;
      }

      &-text {
         margin-top: 17px;
         text-align: center;
         color: #666;
         width: 46%;
         font-size: 18px;

         @include tablets {
            width: 60%;
         }

         @include phone {
            width: 95%;
            
            
         }
      }
   }



   // &-text {
   //    margin-top: rem(17px);
   //    font-weight: 400;
   //    color: #666;
   //    width: 40%;
   //    text-align: center;
   // }

   &__list {
      margin-top: rem(81px);
      display: flex;
      justify-content: space-between;
      gap: rem(65px);

      @include tablets {
         width: auto;
         height: auto;
         gap: rem(0px);
      }

      @include phone {
         display: block;

      }



   }

   &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: rem(270px);
      height: rem(270px);

      &-icon{
         width: 100%;
         height: 100%;
      }

      @include phone {
         // display: inline-block;
      }

      &-foto {
         width: rem(68px);
         height: rem(68px);

         @include phone {
            margin-left: rem(40px);
         }
         // display: inline-block;
      }

      

      @include phone {
         width: auto;
         height: auto;
         margin-top: rem(63px);
         flex-direction: unset;
      }




      &-content {
         display: flex;
         flex-direction: column;
         align-items: center;

         @include phone {
            // display: inline-block
            width: 73%;
            margin-left: rem(42px);
            align-items: flex-start;
         }
      }

      &-title {
         margin-top: rem(50px);
         font-weight: 700;
         font-size: rem(27px);
         color: black;

         @include phone {
            margin-top: rem(0px);
         }
      }

      &-text {
         margin-top: rem(20px);
         margin-bottom: rem(150px);
         font-weight: 300;
         color: #666;
         width: 95%;
         text-align: center;

         @include tablets {
            width: 85%;
         }

         @include phone {
            margin-top: rem(10px);
            margin-bottom: rem(0px);
            text-align: left;
         }
      }
   }

}

